body{
  background-image:url(/frontend/img/hands_up.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 96vh;
}
.button{
    display: flex;
    justify-content: end;
    

}
.first-div{
    background-color: rgba(192, 192, 192, 0.5);
}
.second-div{
    background-color: rgba(252, 205, 213, 0.4) ;
}
#evolve{
  padding-top: 150px;
  display: grid;
  place-items: center;
  margin-top: 10px;
  font-size: 100px;

    color: rgba(25, 128, 11, 0.7);

  }

button:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  button:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  button:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  button:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;  
  }
button{
    border-radius: 5px;
    width: 80px;
    height: 27px; 
    padding: 5px;
    border-radius: 7px;
    /* color: rgba(138, 229, 27, 0.7); */
    background-color: rgba(140, 138, 242, 0.6);
}
