body{
  background: linear-gradient(135deg, rgb(194, 240, 194), rgb(130, 130, 247), rgb(234, 165, 177), rgb(232, 151, 151), rgb(240, 201, 129));
}
button:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  button:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  button:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  button:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }