
h1 {
    text-align: left ;
    background-color: lightgrey;
    padding: 20px 0;
    margin-top: 10px;
    margin-bottom: 20px;
    border-right: 100px solid rgb(51, 73, 150);
    position: relative;
}
h5 {
position: relative;
margin-bottom: 0;
color: blue;
font-weight: bold;
}