body{
    background-image: url(/frontend/img/idea_touch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 96vh;
}
.first_div{
    padding-top: 150px;
    display: grid;
    place-items: center;
    padding-bottom: 210px;
}
input{
    height: 50px;
    width: 440px;
    border-radius: 8px;
}
input:hover{
    background-color: rgba(255, 245, 245, 0.6);
}
input[type="text"]::placeholder {
    font-size: 16px;
    transition: font-size 0.2s ease;
}

input[type="text"]:focus::placeholder {
    font-size: 12px;
}
button{
    height: 28px;
    width: 80px;
    border-radius: 8px;
}
button:visted{
    background-color: yellow;
    color: blue;
    background-size: 100px;
}
button:hover{
    color: rgb(255, 44, 65);
    background-color: rgba(255, 245, 245, 0.3)
}
h1{
    color:  rgb(248, 132, 60);
    font-size: 40px;
    text-decoration: underline;
}